<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link href="/static/style/style.css" rel="stylesheet" type="text/css">
  <link rel="icon" href="{{url_for('static', filename = 'images/logo2.png')}}">
  <script src="script.js"></script>
<title>Home</title>
</head>
<body>

    <header class="navbar">
        <a onclick="Main()"><img src="{{url_for('static', filename="images/logo2.png")}}" alt="logo" class="logo"></a>
        <nav>
        <ul class="nav_links">
            <li class="signup_link"><a href="{{url_for('login')}}">Log in</a></li>
            <li class="signup_link"><a href="{{url_for('signup')}}">Sign up</a></li>
            <li><a href="{{url_for('search')}}">Search</a></li>
            <li><a href="{{url_for('contact')}}">Contact</a></li>
            <li><a href="{{url_for('main')}}">Home</a></li>
        </ul>
        </nav>
    </header>

<div class="main_header">
    <h1>LEEDS TRINITY JOB HUNTERS</h1>
</div>

<div class="main_header1">
    <h1>Find the <span style="color:#8c79b1">job</span> and <span style="color:rgb(209, 88, 88)">employee</span> you deserve!</h1>
</div>

<div class="main_cover">
    <img src="{{url_for('static', filename = 'images/maincover.jpg')}}" class="main_coverimg">
</div>

<aside class="profilesheader">
    <h1>Check out some of the hunters using the Leeds Trinity Job Hunt</h1>
</aside>

<div class="row">
    <a href="{{url_for('profile1')}}"  class="column">
      <div class="card">
        <img src="https://xsgames.co/randomusers/avatar.php?g=male&random0.125">
        <h3>Barry Gonzalez</h3>
        <p>Botany</p>
        <p>Level 6 Student</p>
      </div>
    </a>
    <a href="{{url_for('profile2')}}" class="column">
      <div class="card">
        <img src="https://xsgames.co/randomusers/avatar.php?g=female&random0.548">
        <h3>Abby Stephens</h3>
        <p>Multimedia Student</p>
        <p>Alumni</p>
      </div>
    </a>
    <a href="{{url_for('profile')}}"  class="column">
      <div class="card">
        <img src="https://xsgames.co/randomusers/avatar.php?g=male&random0.123">
        <h3>John Doe</h3>
        <p>Computer Science</p>
        <p>Level 4 Student</p>
      </div>
    </a>
    <a href="{{url_for('profile4')}}"  class="column">
      <div class="card">
        <img src="https://xsgames.co/randomusers/avatar.php?g=female&random0.625">
        <h3>Kiera Conway</h3>
        <p>Thysical Therapy</p>
        <p>Employer</p>
      </div>
    </a>
  </div>

<div class="features">
    <div class="features-header">
        <h1>Features of Leeds Trinity Job Hunters</h1>
    </div>
    <ul class="features-list">
        <li>The ability to create an account and display information.</li>
        <li>View other accounts ranging from students and employers.</li>
        <li>Get in touch with fellow job hunters or employers.</li>
        <li>Easy to create an account and navigate the website.</li>
        <li>Have a problem? Send us a ticket throught the contact us page!</li>
    </ul>
</div>



<footer class="footer_container2">
    <div class="footer-img">
      <img src="{{url_for('static', filename="images/facebook.jpg")}}">
      <img src="{{url_for('static', filename="images/instagram.png")}}">
      <img src="{{url_for('static', filename="images/twitter.png")}}">
      <img src="{{url_for('static', filename="images/youtube.png")}}">
      </div>
</footer>

<script src="{{url_for('static', filename='scripts/script.js')}}"></script>

</body>
</html>